/**
*color variables
*/
$bg-color: #008;
$text-color: #fff; 

/**
*full body style.. 
*/
*{
	margin:0px; padding:0px; 
}
.full-body{
	margin:0px; padding:0px; 	 
	height:100vh; 
	background-color:$bg-color;  
}